.fullcontact{
    text-align: center;
    height: 450px;
    background-color: rgb(236, 236, 226);
}
.headt{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}
.form_control{
   
    width: 400px;
}
.contact {
    position: relative;
  }
  
  /* .contact .Overlay {
    opacity: 0.2;
  } */
  .ContactContent {
    position: relative;
    /* top: 10%; */
    /* left: 30%; */
  }
  /* .contact .ContactContent form {
    width: 500px;
    background: #fff;
    padding: 20px;
  } */
  .ContactContent .form_group {
    margin: 20px;
     
  }
  .form_group{
    width: 100%;

    
  }
   /* .ContactContent form h6 {
     font-size: 100px; 
    font-weight: 600;
    text-align-last: center;
  }  */
  .ContactContent  {
    /* width: 100%; */
   
    
  }
  