.abouthead{
    display: flex;
    align-items: center;
    height: 550px;
}
.headitem{
    width: 55%;  
}

.main{
    background-color:rgb(236, 236, 226) ;
}
.sentence{
text-align: justify;
align-self: center;
flex: 1;
margin-left: 2rem;
margin-right: 1rem;
font-family: 'Times New Roman', Times, serif;

}