.mainFoot{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;

}

.footer {
    background-color: #222;
    color: #fff;
    padding: 1rem;
    position:relative;
    bottom: 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .socialicons {
    display: flex;
  }
  
  .socialicons a {
    margin-right: 1rem;
    color: #fff;
    font-size: 1.5rem;
  }
  
  .socialicons a:hover {
    color: #0077cc;
  }
  
  p {
    font-size: 1rem;
    margin: 0;
  }


  @media screen and (max-width: 768px) {
    .footer{
      position: fixed;
      right: 2rem;
      z-index: 99;
    }
    .footer{
      flex-direction: column;
      background-color:black;
      padding: 2rem;
    }

    }